<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Input</title>
	<style>
		body { background: white; font-family: "Gill Sans", sans-serif; max-width: 800px; margin: 1em auto; padding: 1em; }
		textarea { width: 600px; height: 200px; }
		.exciting { font-weight: bold; }
	</style>
</head>
<body>
	<h2>Superpermutation</h2>
	<pre>{{ s }}</pre>

	<h2>Details</h2>
	{% if is_long %}
		<p>This is a valid superpermutation, but at {{ len }} characters it is longer than the standard superpermutation on {{ n }} symbols.</p>
	{% else %}
		{% if is_novel %}
			<p class="exciting">You have found an interesting superpermutation that was not in the database. Congratulations!</p>
			<p>We have recorded it. Thank you.</p>
		{% else %}
			<p>This is a nice short superpermutation that was already in the database, in some form.</p>
			<p>The canonical form is shown above.</p>
		{% endif %}
	{% endif %}
</body>
</html>
